{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}


<main class="mx-lg-5">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Liste des catégories</h1>
                <button type="button" class="btn btn-success btn-rounded mb-5 mt-3"><a href="{{ path('categorie_new') }}" style="color: white;">Créer une catégorie</a></button>
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie.id }}</td>
                            <td><a href="{{ path('categorie_show', {'id': categorie.id }) }}">{{ categorie.nom }}</a></td>
                            <td>
                                <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">
                                <button type="button" class="btn btn-warning">Modifier</button></a>
                            </td>
                            <td>
                                {{ include('categorie/_delete_form.html.twig') }}
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Aucune catégorie est créee</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}
