{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
 
    <main class="mx-lg-5">
    <div class="container-fluid mt-5">
        <div class="container"></div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Article</h1>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ article.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ article.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Categorie</th>
                                    <td>{{ article.categorie.nom }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn"><a href="{{ path('article_edit', {'id': article.id}) }}" style="color: black;">Modifier</a></button>

                        <button type="button" class="btn btn-dark"><a href="{{ path('article_index') }}" style="color: white;">Retour vers le menu</a></button>

                        {{ include('article/_delete_form.html.twig') }}
                </div>
            </div>  
        </div>
    </div>
</main>
    

{% endblock %}
